<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Platforme de gestion des stages et PFE</title>
</head>
<body bgcolor="#edf2f7" style="color: #5a6780; font-size: 14px;">

<table border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <img src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" width="100"/>
        </td>
    </tr>
</table>
<table border="0" align="center" cellpadding="0" cellspacing="0" width="700" bgcolor="#FFFFFF">
    <tr>
        <td>
            <table border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2" height="20"></td>
                </tr>
                <tr>
                    <td width="20"></td>
                    <td>
                        Dear,<br />

                        Thank you for your order!<br><br>

                        Best regards.

                    </td>
                    <td width="20"></td>
                </tr>
                <tr>
                    <td colspan="2" height="20"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />
<table border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            &copy; {{ "now"| date("Y") }}
        </td>
    </tr>
</table>

</body>
</html>
